body{
    font-family: sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

#todo-form{
    display: flex;
    margin-bottom: 20px;
}

#task-input{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

#todo-form button{
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#todo-list{
    list-style: none;
}

#todo-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    transition: background-color 0.3s;

}


#todo-list li.completed .task-title{
    text-decoration: line-through;
    color: #888;
}

.action button{
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn{
    background-color: #f44346;
    color: white;
    border: none
}

.toggle-btn{
    background-color: #2196f3;
    color: white;
    border: none;
}